<div id="company-qualities-container">
    <div id="company-qualities">
        <div class="qualities">
            <img src="./images/icons/livraison.png" alt="">
            <h5>Livraison à domicile</h5>
            <p>Nous livrons à domicile</p>
        </div>
        <div class="qualities">
            <img src="./images/icons/transparence.png" alt="">
            <h5>Transparence</h5>
            <p>Découvrez notre mode de fonctionnement à travers nos politiques</p>
        </div>
        <div class="qualities">
            <img src="./images/icons/appel.png" alt="">
            <h5>Service client à votre écoute</h5>
            <p>Nous sommes là prêt à vous entendre</p>
        </div>
        <div class="qualities">
            <img src="./images/icons/retour-colis.png" alt="">
            <h5>Retour et Echange</h5>
            <p>Vous pouvez retourner vos articles sous 14 jours</p>
        </div>
    </div>
</div>