<div id="living-room-container">
    <div id="living-room">
        <div class="theme">
            <h6 class="textUn">THEME</h6>
            <h6 class="textDeux">JOYEUX</h6>
            <div class="coloris">
                <div class="colorisUn"></div>
                <div class="colorisDeux"></div>
                <div class="colorisTrois"></div>
                <div class="colorisQuatre"></div>
                <div class="colorisCinq"></div>
            </div>
        </div>
        <div class="image">
            <img src="/images/products/yellowLivingRoom.jpeg" alt="">
        </div>
    </div>
</div>