<div class="wrapper">
    <div class="box a">
      <div class="left">
        <h1>
          {{products[3].libelle}}
        </h1>
        <p>
          {{products[3].description}}
        </p>
        <button mat-raised-button>Basic</button>
      </div>
      <div class="right">
        <img src="images/products/tapis4.jpeg" alt="">
      </div>
    </div>
    <div class="box b">
      <div class="top">
        <img src="images/products/plant2.jpeg" alt="">
      </div>
      <div class="bottom">
        <h1>
          {{products[1].libelle}}
        </h1>
        <p>
          {{products[1].description}}
        </p>
        <button mat-raised-button>Basic</button>
      </div>
    </div>
    <div class="box c">
      <div class="left">
        <h1>
          {{products[2].libelle}}
        </h1>
        <p>
          {{products[2].description}}
        </p>
        <button mat-raised-button>Basic</button>
      </div>
      <div class="right">
        <img src="images/products/meuble_bas.jpeg" alt="">
      </div>
    </div>
    <div class="box d">
      <div class="top">
        <img src="images/products/lampe.jpeg" alt="">
      </div>
      <div class="bottom">
        <h1>
          {{products[0].libelle}}
        </h1>
        <button mat-raised-button>Basic</button>
      </div>
    </div>
  </div>