<div id="nav-container">
    <div id="nav">
        <nav id="list-nav">
            <ul id="pages-link">
                <a routerLink="/home">
                    <img src="images/logo/logo.png" alt="">
                </a>
                <a routerLink="/home">
                    <li>Accueil</li>
                </a>
                <a routerLink="/boutique">
                    <li>Boutique</li>
                </a>
                <a routerLink="/blog">
                    <li>Blog</li>
                </a>
                <a routerLink="/about-us">
                    <li>A propos de Bricol</li>
                </a>
                <div id="recherche-container">
                    <input class="recherche" placeholder="Rechercher" type="number">
                    <img src="images/icons/rechercher.png" alt="">
                </div>
            </ul>
        </nav>
        <div id="user-container">
            <div class="user">
                <a routerLink="/cart">
                    <img src="./images/icons/cart.png" alt="">
                </a>
                <a routerLink="/authentication">
                    <img src="./images/icons/user.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>