<div id="types-products-container">
    <div id="types-products">
        <div class="left-card">
            <h5>SHOP BY CATEGORIES</h5>
            <div class="all-products">
                <img class="lamp" src="../images/icons/desk-lamp.png" alt="">
                <img class="fleche" src="../images/icons/fleche.png" alt="">
                <a routerLink="/types-produits"><p>See all categories</p></a>
            </div>
        </div>
        <div class="right-card">
            <a routerLink="/fauteuil">
                <div class="card c1">
                    <img src="./images/icons/chair.png" alt="">
                </div>
            </a>
            <a routerLink="/miroir">
                <div class="card c2">
                    <img src="./images/icons/mirror.png" alt="">
                </div>
            </a>
            <a routerLink="/table">
                <div class="card c3">
                    <img src="./images/icons/petite-table.png" alt="">
                </div>
            </a>  
        </div>
    </div>
</div>