<div id="new-collection-container">
    <div id="new-collection">
        <div class="left">
            <img src="/images/products/fauteuil.png" alt="">
        </div>
        <div class="zoom-product">
            <img src="/images/products/fauteuilZoom.png" alt="">
        </div>
        <div class="right">
            <h6>NEW COLLECTION - <span>GREEN ROOM</span></h6>
            <div class="texte">
                <h1 class="title">ALYCIA</h1>
                <p class="paragraphe">vzevzevervzev zvze v vzEVZVB VZ V ZEFA FE vbrebnetb ebeb  dvzv  vzvzevzv zevzve 
                    eb etberb eberb  erbeb eberb beb e bebe brbtbb
                    tng eb erbebeb zberbbebr ebrzberbr rberg
                    zdzzcz zfzf zf fzf yji tuj  ilyilyu kuil ykykl yu er e re eg eb  b erzg</p>
            </div>
        </div>
        <button mat-flat-button class="button">Découvrir</button>
        <h6 class="ref">Réf : 654175AF</h6>
        <div class="decoUn"></div>
        <div class="decoDeux"></div>
    </div>
</div>