<div id="products-types-list-container">
    <div id="products-types-list">
        <div class="img-list">
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/chair.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/mirror.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/petite-table.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/chaise.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/etagere.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/armoir.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/table.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img src="./images/icons/lit.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a routerLink="">
                    <img class="tapis" src="./images/icons/tapis.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>