<div id="footer-container">
    <div id="footer">
        <div class="list">
            <div class="footer-div follow">
                <div class="texte">
                    <h6>TRUC IMPORTANT</h6>
                    <p class="paragraphe">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer nec 
                        odio. Praesent libero. 
                        Sed cursus ante dapibus diam.
                    </p>
                    <div class="social-media linkedin">
                        <img src="/images/icons/linkedin.png" alt="">
                        <h6>LinkedIn</h6>
                    </div>
                    <div class="social-media instagram">
                        <img src="/images/icons/instagram.png" alt="">
                        <h6>Instagram</h6>
                    </div>
                </div>
            </div>
            <div class="footer-div plan">
                <div class="texte">
                    <h6>PLAN DU SITE</h6>
                    <ul>
                        <li>Home</li>
                        <li>Catalogue</li>
                        <li>Blog</li>
                        <li>A propos de nous</li>
                    </ul>
                </div>
            </div>
            <div class="footer-div partner">
                <div class="texte">
                    <h6>NOS PARTENAIRES</h6>
                    <img class="castorama" src="/images/castorama.png" alt="">
                    <img src="/images/gifi.png" alt="" class="gifi">
                </div>
            </div>
        </div>
    </div>
</div>